/* ═══════════════════════════════════════════════
   HarmonyOS Sans — 华为鸿蒙字体
   可免费商用（SIL Open Font License）
   来源: https://github.com/IKKI2000/harmonyos-fonts
   本地化：2026-08-09 下载至 public/fonts（CSP font-src 'self' 允许，
   离线可用，不依赖 CDN）
   ═══════════════════════════════════════════════ */

@font-face {
  font-family: 'HarmonyOS Sans SC';
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src: url('/fonts/HarmonyOS_Sans_SC_Light.woff2') format('woff2');
}

@font-face {
  font-family: 'HarmonyOS Sans SC';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url('/fonts/HarmonyOS_Sans_SC_Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'HarmonyOS Sans SC';
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url('/fonts/HarmonyOS_Sans_SC_Medium.woff2') format('woff2');
}

@font-face {
  font-family: 'HarmonyOS Sans SC';
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: url('/fonts/HarmonyOS_Sans_SC_Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'HarmonyOS Sans SC';
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url('/fonts/HarmonyOS_Sans_SC_Bold.woff2') format('woff2');
}
